h1, h2, header, p, a {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: black;
  text-decoration: none; }

#survey{
  display: block;
}

body {
  margin: 0;
  overflow-x: hidden; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.title {
  font-family: "Fugue";
  font-weight: normal; }

.austin {
  font-family: "Austin Cyr";
  font-weight: normal; }

.calibre {
  font-family: "Calibre";
  font-weight: normal; }

.bodyText {
  font-family: "Brandon Text";
  font-weight: normal; }

#container {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: url(../assets/img/render.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.white {
  color: #F8FBFC; }

.black {
  color: #2e3035; }

.lightGray {
  color: #C2C9CE; }

.gray {
  color: #979EA4; }

/* UI */
.ui {
  transition: all .25s ease;
  z-index: 2000; }

/* TITLE */
#mainTitle {
  --base-color: #e7a9ff;
  --shadow-one: #5b00af;
  --shadow-two: #3c0074;
  z-index: 1002;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center; 
}
  #mainTitle h1 {
    font-size: 100px;
    margin: 0; 
    animation: blink 12s .5s infinite;
  }
  #mainTitle div {
    text-align: center;
    width: 100%;
    left: 50%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--base-color);
    box-shadow: 0 0 5px var(--shadow-one), 0 0 15px var(--shadow-one), 0 0 20px var(--shadow-one), 0 0 40px var(--shadow-one), 0 0 60px var(--shadow-two), 0 0 10px var(--shadow-two), 0 0 98px var(--shadow-two);
    margin: 0;
    margin-bottom: 27px; 
    /* animation: open 4.5s cubic-bezier(.15,0,0,1.03) forwards;       */
    animation: open 4.5s cubic-bezier(.32,.05,0,.47) forwards;  
  }
  @keyframes open {
    0%   { 
        left: 50%;
        width: 0%;
    }
    100% {
        left: 0%;
        width: 100%;
    }
}
  #mainTitle h2 {
    font-size: 30px;
    font-weight: lighter; 
    animation: blink 12s 1s infinite;
  }
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      text-shadow: 0 0 5px var(--shadow-one), 0 0 15px var(--shadow-one), 0 0 20px var(--shadow-one), 0 0 40px var(--shadow-one), 0 0 60px var(--shadow-two), 0 0 10px var(--shadow-two), 0 0 98px var(--shadow-two);
      color: var(--base-color);
    }
  }

/* loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader-wrapper #loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 1000;
  -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);  /* IE 9 */
  transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

/* After Load */
.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all .25s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #mainTitle>h1, .loaded #mainTitle>h2{
  animation: none !important;
}
.loaded #mainTitle>div{
  background-color: black !important;
  box-shadow: none !important;
}

/*# sourceMappingURL=style.css.map */
